@use '../sass-utils/variables' as *;
@use '../sass-utils/media' as *;

.container {
    max-width: $site-width;
    margin: 0 auto;
    display: flex;
    padding: 2rem 0rem;
    
    @include for-laptop {
        padding: 1rem 2rem;
    }
    @include for-tablet {
        
    }
    
}