@use '../sass-utils/variables' as *;
@use '../sass-utils/media' as *;

.trusted {


    &__text {
        font-size: 1.125rem;
        line-height: 1.625rem;
        color: $bali-blue;
        display: flex;
        justify-content: center;
        width: 100%;

        &:before,
        &:after {
            content: '';
            flex: 1;
            height: 0;
            border-top: solid rgba(127, 156, 173, 0.3) 1px;
        }

        &:before {
            margin: auto 1em auto auto;
        }
        
        &:after {
            margin: auto  auto auto 1em; 
        }
    }
}