@use '../sass-utils/variables' as *;
@use '../sass-utils/media' as *;

.trusted {


    &__text {
        font-size: 1.125rem;
        line-height: 1.625rem;
        color: $bali-blue;
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        position: relative;

        &:before,
        &:after {
            content: '';
            flex: 1;
            height: 0;
            border-top: solid rgba(127, 156, 173, 0.3) 1px;
        }

        &:before {
            margin: auto 1em auto auto;
        }
        
        &:after {
            margin: auto  auto auto 1em; 
        }

        @include for-phone {
            padding: 2rem 0;
            &:before,
            &:after {
                margin: 0;
                position: absolute;
                height: 1px;
                width: 70%;
                
                display: block;
            }
            &:after {
                top: 0;
                left: 0;
            }
            &:before {
                bottom: 0;
                right: 0;
            }
        }
    }
}