@use "../sass-utils/variables" as *;

a {
    font-family: 'Roboto';
    text-transform: uppercase;
    text-decoration: none;
}
h1 {
    font-family: "Inter";
    font-size: clamp(2rem, 4vw, 3rem);
    line-height: 1.5em;
    font-weight: 700;
    color: #4F4F4F;
    margin: 1rem 0rem;
}
h2 {
    font-family: "Inter";
    color: #333333;
    font-size: clamp(1.825rem, 3vw, 2.1875rem);
    line-height: 1.2em;
    font-weight: 400;
}
h3 {
    font-family: "Inter";
    color: #333333;
    font-size: 1.5rem;
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    line-height: 1.2em;
    font-weight: 400;
}

p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.5rem;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    line-height: 1.5em;
    color: $gray;
    margin: 1rem 0rem;
}
select {
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2em;
}