
select {
    padding: 1rem 1.875rem;
    width: 17.8125rem;
    border-radius: 5px;
    background: #EFF4F7;
    background: url("../../../img/caret-down.svg") no-repeat right #EFF4F7;;
    -webkit-appearance: none;
    background-position-x: 90%;
    border: 1px solid #C6D2D9;
}